@import './bootstrap.min.css'
@import './font-awesome.css'
@import './jquery-ui.min.css'
@import './jquery-ui.structure.min.css'
@import './jquery-ui.theme.min.css'
@import './style-dashboard.css'
@import './../../../../node_modules/jquery-confirm/css/jquery-confirm.css'

vino=#65140F
azul=#26bce0
div.buttonHide
    position absolute
    top 15px
    left 217px
    background-color vino
    z-index 61
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center
    p
        text-align: center
        padding: 2px
        i
            color white
table.principal
    thead
        background-color vino !important
        color white
        th#idCaracter
            display: none
    tbody
        td#idCaracter
            display: none
a#addRegister
    color white !important
form
    padding: 8px
    input[type="text"]:focus
        border-color: azul !important
    div.send
        button
            margin-left: 15px
small
    color red !important
.inputError
    border-color red !important
p.error
    color red