@import './bootstrap.min.css'
@import './font-awesome.css'
@import './jquery-ui.min.css'
@import './jquery-ui.structure.min.css'
@import './jquery-ui.theme.min.css'
@import './style-dashboard.css'
@import './../../../../node_modules/jquery-confirm/css/jquery-confirm.css'

vino=#65140F
azul=#26bce0
row = #DEEFFF
div.buttonHide
    position absolute
    top 15px
    left 217px
    background-color vino
    z-index 61
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center
    p
        text-align: center
        padding: 2px
        i
            color white
table.principal
    thead
        background-color vino !important
        color white
        th
            cursor pointer
            position relative
            &#idVolante
                display: none
            div.thText
                i
                    margin-left 5px
                    font-size 15px


    tbody
        tr:hover
            border-color vino !important
            box-shadow: 5px 5px 3px grey !important
            background-color: row
        td#idVolante
            display: none
a#addRegister
    color white !important
form
    padding: 8px
    input[type="text"]:focus
        border-color: azul !important
    div.send
        button
            margin-left: 15px
small
    color red !important
.inputError
    border-color red !important
p.error
    color red


div#headerText
    cursor pointer
    i
        margin-left 8px
        font-size: 15px !important

form#Volantes
        label
            display: block !important
div.jconfirm-box-container
    margin:0 !important
    width: 100%

div.headerVolante
    width: 100% !important
    margin-bottom: 15px;
    border-bottom: 1px solid #afafaf;
    padding-bottom: 20px;
    div.idDocumento
        width: 17% !important
    div.subDocumento
        width: 21% !important
    div.Promocion,div.extemporaneo,div.cveAuditoria
        width: 17% !important 
    div.addAuditoriaContainer
        display: flex !important
        align-items: center
        button
            margin-left 10px

div.auditoria-container
    div.cuenta
        margin-bottom: 10px
    div.search
        margin-bottom 20px
        span
            background-color: vino
            color white
            padding 5px
            margin: 0 8px;
            border-radius: 5px;
    div.datosAuditoria,div.asignacion
        width 100%
        margin-bottom: 20px
        table
            width: 100%
            border: 1px solid #afafaf
            thead
                background-color: vino
                color white
                text-align: center
                padding 5px
                th
                    text-align: center
            tbody
                td
                    border: 1px solid #afafaf

div.contentVolante
    width: 100% !important
    margin-bottom: 15px;
    padding-bottom: 20px;
    div.bloque1,div.bloque2,div.bloque3,div.bloque4
        margin-bottom: 15px
    div.form-group
        width: 20%
    div.Destinatario
        width: 23% !important
        input
            width: 100%
    div.Asunto
        width: 100% !important
        textarea
            width 90%
    div.idTurnado
        width: 45%!important

div.document-container
    div.inputs
        display flex
        border-bottom
        div.documento
            width 20%
            margin-right: 30px
        div.file
            position relative
            width: 300px
            margin-top 26px
            input#imagen
                width: 100%;
                position absolute
                top 0
                left 0
                opacity: 0
                width: 100%
                padding: 5px
            div
                background-color: vino
                color white
                padding: 5px
                border-radius 7px
                span
                    margin-right 21px
                    font-size: 16px


/*
    div.datos
        width: 45%
        div.documento
            margin-bottom 20px
        div.file
            position relative
            width: 300px
            input#imagen
                position absolute
                top 0
                left 0
                opacity: 0
                width: 100%
                padding: 8px
            div
                background-color: vino
                color white
                padding: 8px
                span
                    margin-right 21px
                    font-size: 18px
                    .titulo
                        font-size: 15px !important
    div.documento
        width: 45%
        */