<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Sistema Integral de Auditoría</title>
    <link rel="stylesheet" href="./jur/css/main.css"/>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <div class="col-xs-12"></div>
            <div class="col-xs-2"><a href="/"><img src="../img/logo-top.png"/></a></div>
            <div class="col-xs-2">
              <ul class="nav navbar-nav">
                <li><a href="#"><i class="fa fa-th-list"></i> Cuenta</a></li>
              </ul>
            </div>
            <div class="col-xs-3">
              <h2>'Tipo Nombre</h2>
            </div>
            <div class="col-xs-2">
              <ul class="nav navbar-nav">
                <li><a href="./notificaciones"><i class="fa fa-envelope-o"></i> Tiene <span>
                      <input class="noti" id="txtNoti" type="text"/></span> Mensaje(s).</a></li>
              </ul>
            </div>
            <div class="col-xs-3">
              <ul class="nav navbar-nav pull-right">
                <li class="dropdown pull-right"><a class="dropdown-toggle" data-toggle="dropdown" href="/"></a><i class="fa fa-user"></i><b>Usuario</b><b class="caret"></b></li>
                <ul class="dropdown-menu">
                  <li><a href="/perfil"><i class="fa fa-user"></i> Perfil</a></li>
                  <li><a href="/cerrar"><i class="fa fa-sign-out"></i> Salir</a></li>
                </ul>
              </ul>
            </div>
          </nav>
        </div>
      </nav>
    </header>
  </body>
</html>