.order.form-inline#order
    .form-group
        label Ascendente
        input(type="radio" name="order" value="ASC")
    .form-group
        label Descendente
        input(type="radio" name="order" value="DESC")
