.auditoria-container
    div.auditoria
        .cuenta
            p.cuenta :cuenta
        .search
            span ASCM/
            input#auditoria(type="text", name="auditoria")
            span :cta
    .datosAuditoria
    .asignacion
    
