form#Caracteres(method='POST')
  .form-group.siglas
    label.form-control-label(for='siglas') Siglas
    input#siglas.form-control(type='text', placeholder='siglas', required='', pattern='[A-Za-z]', name='siglas', title='Inserta una Sigla')
  .form-group.nombre
    label.form-control-label(for='nombre') Nombre
    input#nombre.form-control(type='text', placeholder='Nombre', required='', pattern='[A-Za-z]', name='nombre', title='Nombre Incorrecto o Caracteres maximos')
  .error
    p.error
  .form-group.send
    input.btn.btn-info(type='submit', value='Guardar')
    button#cancelar.btn.btn-danger.btn-sm Cancelar