form#ObservacionesDoctosJuridico.form-inline(method='POST')
  .datos
    .form-group.pagina
      label(for='text') Hoja
      input#pagina.form-control(type='text', name='pagina', required='')
      input#idVolante(type='hidden', name='idVolante', value=':idVolante')
      input#cveAuditoria(type='hidden', name='cveAuditoria', value=':cveAuditoria')
      input#idSubTipoDocumento(type='hidden', name='idSubTipoDocumento', value=':idSubDoc')
    .form-group.parrafo
      label(for='parrafo') Parrafo
      input#parrafo.form-control(type='text', name='parrafo', required='')
  .form-group.observacion
    label(for='observacion') Observacion
    textarea#observacionTexto.form-control(rows='3', name='observacion')
  .form-group.estatus
    label.form-control-label(for='estatus') Estatus
    select(name="estatus" id="estatus")
  .envio
    .form-group.send
      input.btn.btn-primary.btn-sm(type='submit', value='Guardar')
      button#cancelar.btn.btn-danger Cancelar