
<form id="Acciones" method="POST">
  <div class="form-group nombre">
    <label class="form-control-label" for="nombre">Nombre </label>
    <input class="form-control" id="nombre" type="text" placeholder="Nombre" required="" pattern="[A-Za-z].{1,10}" name="nombre" title="Nombre Incorrecto o Caracteres maximos"/>
  </div>
  <div class="form-group estatus">
    <label class="form-control-label" for="estatus">Estatus</label>
    <select name="estatus" id="estatus"></select>
  </div>
  <div class="form-group send">
    <input class="btn btn-primary btn-sm" type="submit" value="Guardar"/>
    <button class="btn btn-danger btn-sm" id="cancelar">Cancelar</button>
  </div>
</form>