
<div class="contentIrac" id="DocumentosSiglas">
  <form class="form-inline" id="DocumentosSiglas" method="POST">
    <div class="datos-llenado">
      <div class="form-group siglas">
        <label class="form-control-label" for="siglas">Siglas</label>
        <input class="form-control" id="siglas" type="text" name="siglas" required=""/>
        <input id="idSubTipoDocumento" type="hidden" name="idSubTipoDocumento" value=":sub"/>
        <input type="hidden" name="idVolante" value=":idVolante"/>
      </div>
      <div class="form-group fecha">
        <label class="form-control-label" for="fecha">Fecha Documento</label>
        <input class="form-control fechaInput" id="fOficio" type="text" name="fOficio" required="" pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"/>
      </div>
      <div class="form-group numFolio">
        <label class="form-control-label" for="numFolio">Numero Folio</label>
        <input class="form-control" id="numFolio" type="text" name="numFolio" required=""/>
      </div>
    </div>
    <div class="firmas">
      <div class="titulo">
        <p>Personal que Firma</p>
      </div>
      <div class="inputs">:firmas</div>
    </div>
    <div class="form-group textoIfa">
      <label class="form-control-label" for="numFolio">Promocion de Accion</label>
      <button class="btn btn-primary" id="addPromoAccion" type="button">Agregar Promocion de Acciones</button>
      <textarea class="form-control" id="textoIfa" rows="7" readonly=""></textarea>
    </div>
    <div class="form-group estatus">
      <label class="form-control-label" for="estatus">Estatus</label>
      <select name="estatus" id="estatus"></select>
    </div>
    <div class="form-group send">
      <input class="btn btn-primary btn-sm" type="submit" value="Guardar"/>
      <button class="btn btn-danger" id="cancelar">Cancelar</button>
    </div>
  </form>
</div>