
<form class="form-inline" id="confrontasJuridico" method="POST">
  <div class="group-nota">
    <div class="form-group notaInformativa">
      <label for="notaInformativa">nota Informativa</label>
      <input class="form-control" id="notaInformativa" type="text" placeholder="nota Informativa" name="notaInformativa"/>
    </div>
  </div>
  <div class="group-datos">
    <div class="form-group nombre">
      <label for="nombre">Nombre</label>
      <input class="form-control" id="nombre" type="text" placeholder="Nombre" required="" pattern="[A-Za-z].{1,49}" name="nombreResponsable" title="Formato Incorrecto"/>
    </div>
    <div class="form-group cargo">
      <label for="cargo">Cargo</label>
      <input class="form-control" id="cargo" type="text" placeholder="cargo" required="" pattern="[A-Za-z].{1,49}" name="cargoResponsable" title="Formato Incorrecto"/>
    </div>
    <div class="form-group fConfronta">
      <label for="fConfronta">Fecha Confronta</label>
      <input class="form-control fechaInput" id="fConfronta" type="text" name="fConfronta" required="" pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"/>
    </div>
    <div class="form-group hConfronta">
      <label for="hConfronta">Hora de Confronta</label>
      <input class="form-control" id="hConfronta" type="time" required="" pattern="([0-1]{1}[0-9]{1}|20|21|22|23):[0-5]{1}[0-9]{1}" placeholder="00:00" name="hConfronta" title="Formato Incorrecto"/>
    </div>
    <div class="form-group fecha">
      <label for="fecha">Fecha Documento</label>
      <input class="form-control fechaInput" id="fOficio" type="text" name="fOficio" required="" pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"/>
    </div>
  </div>
  <div class="group-firmas">
    <div class="form-group siglas">
      <label for="siglas">Siglas</label>
      <input class="form-control" id="siglas" type="text" placeholder="siglas" required="" name="siglas" title="Nombre Incorrecto o Caracteres maximos"/>
    </div>
    <div class="form-group numFolio">
      <label for="numFolio">Numero Documento</label>
      <input class="form-control" id="numFolio" type="text" name="numFolio" required=""/>
      <input id="idVolante" type="hidden" name="idVolante" value=""/>
    </div>
    <div class="form-group estatus">
      <label class="form-control-label" for="estatus">Estatus</label>
      <select name="estatus" id="estatus"></select>
    </div>
  </div>
  <div class="form-group send">
    <input class="btn btn-primary btn-sm" type="submit" value="Guardar"/>
    <button class="btn btn-danger" id="cancelar">Cancelar</button>
  </div>
</form>