
<div class="document-container">
  <div class="datos">
    <form id="documentosJur" enctype="multipart/form-data">
      <div class="inputs">
        <div class="form-group documento">
          <label class="form-control-label" for="documento">Numero Documento</label>
          <input class="form-control" id="documento" type="text" placeholder="Numero Documento" required="required" name="nombre"/>
        </div>
        <div class="form-group file">
          <input type="file" name="anexoDoc" id="imagen" required="required"/>
          <div><span><i class="fa fa-upload" aria-hidden="true"></i></span><span class="titulo">Selecciona Archivo</span></div>
        </div>
      </div>
      <div class="documento">
        <div>
          <p>Documento Asignado</p>
        </div>
        <div class="documento-datos">
          <div class="icon"></div>
          <div class="nombre"></div>
        </div>
      </div>
      <div class="form-group send">
        <input class="btn btn-info" type="submit" value="Guardar"/>
        <button class="btn btn-danger btn-sm" id="cancelar">Cancelar</button>
      </div>
    </form>
  </div>
</div>