
<div class="irac">
  <div class="irac-datos">
    <div class="irac-datos-folio">
      <p class="titulo">Folio:</p>
      <p class="folio">:folio</p>
    </div>
    <div class="irac-datos-numDocumento">
      <p class="titulo">Numero de Documento</p>
      <p class="numDocumento">:numDocumento</p>
    </div>
    <div class="irac-datos-remitente">
      <p class="titulo">Remitente</p>
      <p class="remitente">:remitente</p>
    </div>
  </div>
  <div class="irac-tabla">
    <table class="observaciones table">
      <thead>
        <tr>
          <th class="idVolante">IdVolante</th>
          <th>Pagina</th>
          <th>Parrafo</th>
          <th>Observacion</th>
          <th>Estatus</th>
        </tr>
      </thead>
      <tbody>:body</tbody>
    </table>
  </div>
  <div class="irac-botones">
    <button class="btn btn-info" id="add">Agregar Observacion</button>
    <button class="btn btn-warning" id="cedula">Generar Cedula</button>
    <button class="btn btn-warning" id="print">Imprimir Cedula</button>
    <button class="btn btn-danger" id="cancelar">Cancelar</button>
  </div>
</div>