.row
  .col-md-9.col-md-offset-2#tableLarge
    .widget
      .widget-head
        .pull-left Lista de Registros
        .widget-icons.pull-right
          button.btn.btn-info#addRegister Añadir Registro
        .clearfix
      #main-content.widget-content
