.row
  .col-md-9.col-md-offset-2#tableLarge
    .widget
      .widget-head
        .pull-left#headerText Lista de Registros
          .order
          .selectColumns
        .widget-icons.pull-right
          a(class="btn btn-info" id="addRegister" href="#!") Añadir Registro
        .clearfix
      #main-content.widget-content
