<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Sistema Integral de Auditoría
        link(rel="stylesheet", href="./assets/Css/main.css")
    body
        include header.pug
        include aside.pug
        include content.pug
    script(src="./assets/js/main.js")
    script(src="./assets/js/menu.js")
    
    

        
            

